footer p {
  color: #fff;
  font-size: 200px;
  padding: 50px;
  margin: 0;
}

@media screen and (max-width: 600px) {
  footer p {
    font-size: 25px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1080px) {
  footer p {
    font-size: 55px;
  }
}
